@charset "UTF-8";
* {
  font-family: "Nunito Sans";
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* me permite deslizar cuando hago clic en los links del menu */
}

/* MENU Header comienzo */
body {
  background-color: #252A2E;
  /* Establece un color de fondo oscuro para todo el body */
  color: white;
  /* Cambia el color del texto a blanco para mejorar la legibilidad */
  height: 100%;
}

.mi-navbar-personalizada {
  background-color: rgba(3, 24, 70, 0.575);
  /* Fondo gris oscuro */
  color: #ffffff;
}

.mi-navbar-personalizada .navbar-nav .nav-link {
  color: #ffffff;
  /* Asegura que los enlaces también sean blancos */
}

.mi-navbar-personalizada .navbar-brand {
  color: #ffffff;
  /* Logo con letras blancas */
}

/*Inicio*/
.main-inicio {
  height: 100vh;
  /* Hace que main-inicio ocupe toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-text {
  width: 100%;
  /* Asegura que el contenedor ocupe todo el ancho */
  height: 100%;
  /* Asegura que el contenedor ocupe toda la altura */
  position: relative;
  /* Posicionamiento relativo para el texto sobre la imagen */
}

.container-img-text img {
  width: 100%;
  opacity: 0.8;
  /* Hace la imagen más oscura para mejorar la legibilidad del texto */
  border-radius: 30px;
}

.container-img-text h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*sobre mi*/
/* Estilo para la sección Sobre Mí */
/* Estilo base para la sección Sobre Mí */
.sobre-mi {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* Cambiado de 100vh a auto para adaptarse a contenido */
}

.img-fluid {
  border: 3px solid #0b223b;
  /* Estilo para la imagen */
  max-width: 100%;
  /* Asegura que la imagen sea responsive */
  height: auto;
  /* Mantiene la proporción de la imagen */
  border: radius 15px;
  /* Añade un borde redondeado a la imagen */
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Cambia la dirección a columna en dispositivos pequeños */
}

.card.mb-3 {
  margin: auto;
  width: 100%;
  /* Usa el 100% del ancho en dispositivos pequeños */
  max-width: 540px;
  /* Limita el ancho máximo en dispositivos más grandes */
}

.card-body {
  background-color: #1e2326;
  /* Cambia el color de fondo del cuerpo de la tarjeta */
  border-radius: 15px;
  /* Añade un borde redondeado al cuerpo de la tarjeta */
  width: 100%;
  /* Asegura que la tarjeta ocupe todo el ancho */
  height: 100%;
  /* Asegura que la tarjeta ocupe toda la altura */
}

.card-body p {
  color: #ffffff;
  /* Cambia el color del texto del cuerpo de la tarjeta */
}

.card-body .card-title {
  color: #5190d3;
  /* Cambia el color del título de la tarjeta */
}

.card-body .card-text second {
  color: #dd3434;
}

/* SECCION CONTACTO */
.contacto {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 0;
}

.contacto .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.contacto h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.contacto .fila {
  display: flex;
}

.contacto .col {
  width: 50%;
  padding: 10px;
  position: relative;
}

.contacto .col input, .contacto .col textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #252A2E;
  color: #fff;
  font-size: 18px;
}

.contacto button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}

.contacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1CB698;
  z-index: -1;
  transition: 1s;
}

.contacto button:hover .overlay {
  width: 100%;
}

.contacto .col img {
  width: 100%;
}

.contacto .col .info {
  position: absolute;
  top: 40%;
  background-color: #252A2E;
  padding: 20px;
  max-width: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacto .col .info ul {
  list-style: none;
}

.contacto .col .info ul li {
  margin-bottom: 20px;
}

.contacto .col .info ul li i {
  color: #1CB698;
  display: inline-block;
  margin-right: 20px;
}

/* FOOTER */
footer {
  background-color: #252A2E;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

footer .redes {
  margin-bottom: 20px;
}

footer .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}

footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #1CB698;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}

/* Media queries para Tablet */
@media (min-width: 768px) {
  .sobre-mi {
    height: 100vh;
    /* Restaura la altura para tabletas y desktop */
  }
}
/* Media queries para Desktop */
@media (min-width: 992px) {
  .main-text {
    flex-direction: row;
    /* Cambia la dirección a fila para más espacio */
  }
}

/*# sourceMappingURL=main.css.map */
